.sixtyPX{
    height:60px;
    width:100%;
}

.twentyPX{
    height:40px;
    width:100%;
}

.has-gap-0{
    gap:0;
    row-gap:0;
    border:0;
    padding:0;
    margin:0;
    color: green;
}

.noahbox{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    justify-self: center;
    height:450px;
    flex-wrap:wrap;
    width:40% auto;
    padding:10px;
    max-height:90%;
}

.noahbox figure{
    margin-left:25px;
    margin-right:25px;
    margin-bottom:10px;
    max-width:100%;
    height:auto;
}

.map-kort{
    margin-bottom: 2rem;
}

.map-bild img {
    border-radius:8px;
}

.sido-sektion {
    margin-top: 1rem; 
}

.taktik-kort{
    margin-top: 1rem;
    margin:15px;
}

.toggle-content{
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.toggle-content.active{
    max-height:1000px;
}

.toggle-btn{
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
    user-select: none;
}

.theme-light .has-background-themed{
    background-color: --bulma-title-color;
}

.theme-dark .has-background-themed{
    background-color: --bulma-title-color;
}

@media screen and (max-width: 768px) {
    .noahbox {
        width: 90%;
        height: auto;
        justify-content: center;
        padding: 10px;
    }

    .noahbox figure{
        margin: 10px auto;
        width: 100%;
        max-width: 200px;
    }

    .teamChart{
        width: 100%;
        max-width: 100%;
        height:auto;
    }
}